<div class="menucatalog clearfix">
    <ul class="ulmenucat">
            <li class="limenucat">
                <a href="{% url 'main:index' %}" class="amenucat">
                    на главную
                </a>
            </li>
            <li class="limenucat">
                <a href="{% url 'adminapp:index' %}" class="amenucat">
                    пользователи
                </a>
            </li>
            <li class="limenucat">
                <a href="{% url 'adminapp:categories' %}" class="amenucat">
                    категории
                </a>
            </li>
    </ul>
</div>